# Gradle / build
.gradle/
build/
app/build/
.externalNativeBuild/
.cxx/
app/release/*
*.apk
!app/release/app-release.apk

# Local config
local.properties

# IDE
*.iml
.idea/

# OS
.DS_Store
Thumbs.db

# Android
captures/

# Keystore / certificates (VERY IMPORTANT)
*.jks
*.keystore
*.pem
*.p12
